*

!api
!api/src
!api/src/**/*
!api/.gitignore
!api/.pretterrc
!api/eslint.config.mjs
!api/nest-cli.json
!api/package.json
!api/package-lock.json
!api/README.md
!api/tsconfig.build.json
!api/tsconfig.json

!app
!app/src/**/*
!app/.gitignore
!app/eslint.config.js
!app/index.html
!app/package.json
!app/package-lock.json
!app/tsconfig.app.json
!app/tsconfig.json
!app/tsconfig.node.json
!app/vite.config.ts

!.gitignore
!docker-compose.dev.yml
!docker-compose.yml
!LICENSE
!README.md